In [1]:
from pymongo import MongoClient
import pandas as pd

In [2]:
client = MongoClient('172.31.51.215:27017')

In [3]:
df = pd.read_csv("data/itemization1.csv")

In [4]:
df.head()

,Product Names,Product Type,Product Group,Product Regularity
0,Apron,Apron,Household,Occasional
1,Bag of Folded Laundry (8kg),Wash & Fold,Casualwear,Everyday
2,Bag of Folded Laundry (up to 8kg),Wash & Fold,Casualwear,Everyday
3,Bag of Folded Laundry (up to 8kg) - Colour Sep...,Wash & Fold,Casualwear,Everyday
4,Bed sheet,Bedsheets,Household,Regular

In [9]:
df['Product Type'].sort_values().unique().tolist()

['Apron',
 'Bedsheets',
 'Bedspread',
 'Belt',
 'Blanket',
 'Blazer',
 'Blouse',
 'Bolster',
 'Cardigan',
 'Coat',
 'Cover',
 'Curtain',
 'Cushion',
 'Dress',
 'Duvet',
 'Hat',
 'Jacket',
 'Jumpsuit',
 'Mattress',
 'Napkin',
 'Pillow',
 'Scarf',
 'Shirt',
 'Shorts',
 'Ski',
 'Skirt',
 'Suit',
 'T-Shirt',
 'Tablecloth',
 'Tie',
 'Top',
 'Towel',
 'Trousers',
 'Underwear',
 'Vest',
 'Wash & Fold',
 nan]